.item-btn {
  width: 150px;
  margin-top: 5px;
  height: 35px;
  padding: 5px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  background-color: #468189;
  gap: 5px;
  font-size: 15px;
  box-shadow: 0 4px 4px rgba(35, 45, 49, 0.2);
}
.item-btn:hover {
  background-color: #7ccfda;
}
